<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CB0Z2ERWD2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CB0Z2ERWD2');
</script>

  
  
  
  
</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Kevin Mastro
              </h1>
              <p>I am a postdoctoral fellow jointly mentored by <a href="https://sabatini.hms.harvard.edu/">Bernardo Sabatini </a> and <a href="https://www.stevenslab.org/">Beth Stevens </a> at Harvard Medical School, Boston Children's Hospital and the Broad Institute. With the support of the NIMH, Hearst Foundation, Tommy Fuss Fellowship and the Stanley Center at the Broad Institute, I have the privilege of working with a dynamic team of scientists focused on the biological mechanisms driving neuropsychiatric disease.
              </p>
              <p> My long-term goal is to understand how the brain and behavior change over the course of adolescence. Adolescence is marked by a prolonged period of both cognitive and structural maturation and alterations in this developmental trajectory is posited to underlie many neuropsychiatric diseases. Over the course of my postdoc, I have worked to establish the synaptic, circuit and behavioral features that change during adolescence. In the future, my goal is to assess how genetic and environmental risk factors impact this development so to develop therapeutic interventions and treatments for psychiatric ailments.
              </p>
              <p>
              </p>
              <p style="text-align:center">
                <a href="https://github.com/mastroK/mastrok.github.io/tree/6500295eadab4771dc8705430895543dbbb543ec/pdfs/Mastro_CV_Oct18_2023.pdf">CV</a> &nbsp/&nbsp
                <a href="https://scholar.google.com/citations?user=2sgO0kEAAAAJ&hl=en&oi=ao">Google Scholar</a> &nbsp/&nbsp
                <a href="https://www.linkedin.com/in/kevin-mastro/">LinkedIn</a> &nbsp/&nbsp
                <a href="https://twitter.com/synaptokevin">Twitter &nbsp&nbsp
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/Mastro_2023_headshot.jpeg">
            </td>
          </tr>
        
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h2>Personal Mission Statment</h2>
              <p> Outside of my interests in basic and clinical neuroscience, there are two major issues that drive my desire to pursue a career within academia and biomedical sciences: 1) Breaking down barriers to entry, especially for those groups (BIPOC, LGBTQI+, women) that continue to face unnecessary obstacles (e.g. systemic racism) and 2) Confront the stigmatization of mental health throughout our society.</p>
              <p> First, I am committed to fostering an environment that celebrates our differences as points of strength, ensuring equal and equitable practices that promote a diverse workplace and to be a life-long learner in this journey to be a better listener/advocate/ally.</p>
              <p> Second, through research and community discussion, I am passionate about having open and honest conversations about mental health and to fight the stigmatization related to psychiatric disorders, addiction and depression. While both of these issues are of societal importance, we, as scientists, must be committed to leading these discussions and helping educate the broader public and advising governmental policies that impact our local communities.</p>
            </td>
          </tr>
        </table>
                <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Postdoctoral Research</h2>
              <p>Work during my postdoc in the labs of Drs. <a href="https://sabatini.hms.harvard.edu/">Bernardo Sabatini </a> and <a href="https://www.stevenslab.org/">Beth Stevens </a></p>
              <h3>Upcoming Presentations</h3>
              <p>Poster presentations entitled "Adolescent Development in the mouse and marmoset" at <a href="https://www.sfn.org/">Society for Neuroscience Conference </a> and <a href="https://www.acnp.org/">ACNP </a></p>
              
            </td>
          </tr>
        </table>

          <!-- Include the necessary CSS and JavaScript for Lightbox -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
          
          <!-- ... Your existing code ... -->
          
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                <a href='images/Wilton_Mastro_2023.png' data-lightbox="image1" data-title="Microglia and complement mediate early corticostriatal synapse loss and cognitive dysfunction in Huntington’s disease">
                  <img src='images/Wilton_Mastro_2023.png' width="180" alt="Microglia and complement mediate early corticostriatal synapse loss and cognitive dysfunction in Huntington’s disease">
                </a>
              </td>
          
              <td style="padding:2.5%;width:65%;vertical-align:middle">
                <a href="https://www.nature.com/articles/s41591-023-02566-3"><h3>Microglia and complement mediate early corticostriatal synapse loss and cognitive dysfunction in Huntington’s disease</h3></a>
                <br>
                <br> DK Wilton, <h3>KJ Mastro</h3>, BL Stevens 
                <br><em>Nature Medicine, 2023</em>
                <br><br> Collaborated with Dr. Daniel Wilton to investigate the role of microglia in the engulfment of synaptic terminals in mouse models and human patients with Huntington's disease. 
              </td>
            </tr>
    
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/Dimidschstein_2020.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.nature.com/articles/s41593-020-0692-9"><h3>Viral manipulation of functionally distinct interneurons in mice, non-human primates and humans</h3></a>
              <br>
              <br>D Vormstein-Schneider, JD Lin JD <em>et al.</em>   
              <br><em>Nature Neuroscience, 2020</em>
              <br><br> <a href ="https://www.broadinstitute.org/bios/jordane-dimidschstein" >Dimidschstein</a> group developed a cell-type specific promotor for parvalbumin-positive neurons throughout the central nervous system of rodents, non-human primates and humans. Applied the technology in the mouse cortex and verified the fast-spiking interneuron properties of the identified subtype. 
            </td>
          </tr>
    
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>PhD Research</h2>
              <p>Work during my Ph.D in Dr. <a href="https://labs.bio.cmu.edu/gittis/">Aryn Gittis's lab </a></p> 
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/Willard_Mastro_2019.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://elifesciences.org/articles/42746"><h3>State transitions in the substantia nigra reticulata predict the onset of motor deficits in models of progressive dopamine depletion in mice</h3></a>
              <br>
              <br>AM Willard, BR Isett, TC Whalen, <h3>KJ Mastro</h3>, CS Ki, X Mao, AH Gittis
              <br><em>ELife</em>, 2019
              <br><br> Degeneration of dopamine is a pathological hallmark of Parkinson's disease and is associated with rhythmic bursting activity in motor-related nuclei of the brain. To identify the trajectory of diseaes related activity in the basal ganglia output, we found that changes occured in state transitions that was consistent across toxin-induced and genetic models of dopamine loss. 
            </td>
          </tr>
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/Mastro_2017.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.nature.com/articles/nn.4559"><h3>Cell-specific pallidal intervention induces long-lasting motor recovery in dopamine-depleted mice</h3></a>
              <br>
              <br><h3>KJ Mastro</h3> KT Zitelli, AM Willard, KH Leblanc, AV Kravitz, AH Gittis
              <br><em>Nature Neuroscience</em>, 2017
              <br><br> Utilizing optogenetics, we uncovered a cell-type specific perturbation within the globus pallidus that led to a sustained recovery of motor function in dopamine depleted mice. The selective increase of parvalbumin-positive neurons and decrease of Lhx6-positive neurons led to a suppression of pathological bursting activity in basal ganglia output that correlated with the recovery in motor function. Together, these data suggest a potential site for intervention for future therapies.   
            </td>
          </tr>
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/Mastro_2014.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.jneurosci.org/content/34/6/2087"><h3>Transgenic mouse lines subdivide external segment of the globus pallidus (GPe) neurons and reveal distinct GPe output pathways</h3></a>
              <br>
              <br><h3>KJ Mastro</h3>, RS Bouchard, HAK Holt, AH Gittis 
              <br><em>Journal of Neuroscience, 2014</em>
              <br><br> Identiied molecular, anatomical and physiologically distinct cell-types with the globus pallidus externa. 
            </td>
          </tr>
          

         
        </table>
        <br>
        <br>
        <br>
        
        
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;color: rgb(220, 220, 220);">
                

                    Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>


              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</body>

</html>

