<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Jay Lee
              </h1>
              <p>I am a PhD student in <a href="https://sabatini.hms.harvard.edu/">Bernardo Sabatini lab</a> at the Harvard Medical School.
              </p>
              <p> I started the <a href="https://www.hms.harvard.edu/dms/neuroscience/">Ph.D program</a> in Neurobiology in 2015, and joined the Sabatini lab in 2016. Before, I obtained my Bachelor's degree in Bio-engineering at <a href="https://www.kaist.ac.kr/en/">KAIST</a> in 2015.
              </p>
              <p>I am broadly interested in understanding circuit mechanisms of compuations in the brain, relevant for decision making. We are studying this using anatomical tracing, optogenetics, and extracellular recording.
              </p>
              <p style="text-align:center">
                <a href="pdfs/CV_Jaeeon_Lee.pdf">CV</a> &nbsp/&nbsp
                <a href="https://scholar.google.com/citations?user=jHXhQJAAAAAJ&hl=en&oi=ao">Google Scholar</a> &nbsp&nbsp
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/Jay_profile_circle.png">
            </td>
          </tr>
        
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publication</h2>
              <p>Work from my Ph.D in Sabatini lab</p>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/paper3.png' width="160"></div>
            </td>
        
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>Striatal D2 pathway mediate competition during lateralized action selection</h3>
              <br>
              <br><h3>Jaeeon Lee</h3>, Bernardo Sabatini 
              <br><em>manuscript in prep.</em>
              <br><br> 
            </td>
          </tr>
          
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/paper2.png' width="160"></div>
            </td>
        
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>Anatomically segregated basal ganglia pathways allow parallel behavioral modulation</h3>
              <br>
              <br><h3>Jaeeon Lee</h3>, Wengang Wang, Bernardo Sabatini 
              <br><em>Nature Neuro (accepted)</em>, 2020
              <br><br> We show topographical loops starting from striatum to Pf, VM and SC in the mouse brain. Segregated pathways in medial vs ventrolateral striatum modulate turning/licking behavior respectively. 
            </td>
          </tr>
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/photometry_image.png' width="160"></div>
            </td>
        
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>Depth-resolved fiber photometry with a single tapered optical fiber implant</h3>
              <br>
              <br>Filippo Pisano, Marco Pisanello, Suk Joon Lee, <h3>Jaeeon Lee</h3>, <em>et al</em>
              <br><em>Nature Methods</em>, 2019
              <br><br> We show the application of tapered fibers in depth-dependent photometry. We simultaenously recorded dopamine signals in dorsal/ventral striatum in the same mouse and show signals can diverge at specficic behavioral events.
            </td>
          </tr>
         
        </table>
        <br>
        <br>
        <br>
        
        
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</body>

</html>

